# Ambiente virtual
.venv/
env/
__pycache__/
*.pyc

# Ficheiros temporários e de sistema
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Ficheiros de instalação e compilação
*.exe
*.zip
*.msi
*.spec

# Dados e resultados
dados/
resultados_euromilhoes.xlsx

# Ficheiros gerados por PyInstaller
build/
dist/
